#screen {
	//border: solid black;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: lime;
	top: 0;
	left: 0;
}
.square {
	background-color: blue;
	position: absolute;
}
